.branch-container {
  background: rgba(0,0,0,0.5);
  margin-top: 40px;
  margin-bottom: 50px;
  color: white;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

/************************************************************************/
/*                    branche info directives                           */
/*                                                                      */
/************************************************************************/

.branch-info {
  border-left: solid white 2px;
  border-bottom: solid white 2px;
}

.branch-info img {
  width: 100%;
}

.branch-info table {
  /* border: solid white 1px; */
  width: 100%;
  margin-bottom: 7px;
}

.branch-info tbody {
  display: table-row-group;
}

.branch-info tr {
  display: table-row;
}

.branch-info th {
  padding-top: 3px;
  padding-left: 7px;
}

.branch-info td {
  padding-top: 3px;
  display: table-cell;
}

/************************************************************************/
/*                    vertical timeline directive                       */
/*                                                                      */
/************************************************************************/

canvas#vertical-timeline {
  border: 1px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
