<div class="ufr-home">

  <div class="main-page-content">

    <!--Barre de navigation-->
    <nav class="navbar-ufr container-fluid page-element">
      <ul class="navbar-ufr-list row">
        <a href="" ng-click="gotoAnchor('actu')">
          <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">Actualités</li>
        </a>
        <a href="" ng-click="gotoAnchor('branches')">
          <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">Branches</li>
        </a>
        <a href="" ng-click="gotoAnchor('recrutement')">
          <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">Recrutement</li>
        </a>
      </ul>
    </nav>

    <!--Carousel-->
    <!--Les images apparaissent en 1000x542px, on tâchera donc de les stocker sous ces dimensions.-->
    <div class="page-element">
      <div uib-carousel
           active="active"
           interval="myInterval"
           no-wrap="noWrapSlides"
           class="ufr-carousel">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption">
            <span class="carousel-title">{{slide.titre}}</span>
            <span class="carousel-subtitle">{{slide.texte}}</span>
          </div>
        </div>
      </div>
    </div>

    <!--Les blocks dédiés aux actualités-->
    <div class="container-fluid">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
      <div class="section-title col-lg-4 col-md-4 col-sm-6 col-xs-8">
        <h2 id="actu">Actualités</h2>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
    </div>

    <div class="container-fluid container-news page-element">
      <block-news data-ng-repeat="block in newsBlocks" news="block"></block-news>
    </div>


    <!--Les blocks dédiés à nos jeux-->
    <div class="container-fluid">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
      <div class="section-title col-lg-4 col-md-4 col-sm-6 col-xs-8">
        <h2 id="branches">Nos branches</h2>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
    </div>

    <div class="page-element">
      <div class="container-fluid container-jeux">
        <block-jeu data-ng-repeat="block in blocksJeu"
                   titre="block.titre"
                   sous-titre="block.sousTitre"
                   img="block.img"
                   branche="block.branche">
        </block-jeu>
      </div>
    </div>

    <!--Le Recrutement-->
    <div class="container-fluid">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
      <div class="section-title col-lg-4 col-md-4 col-sm-6 col-xs-8">
        <h2 id="recrutement">Nous rejoindre</h2>
        <p class="recrutement">(Recrutement)</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
    </div>

    <div class="container-recrutement panel panel-default page-element">
      <div class="panel-body">
        <ol>
          <li>Créez vous un compte sur notre forum via
            <a href="http://forum.communaute-ufr.fr/register" target="_blank">
              ce lien</a>.
          </li>
          <li>Référez vous à
            <a href="http://forum.communaute-ufr.fr/t307-procedure-de-recrutement" target="_blank">
              ces instructions</a>.
          </li>
          <li>Puis poster votre candidature
            <a href="http://forum.communaute-ufr.fr/f4-inscriptions">ici</a>.
          </li>
        </ol>
      </div>
    </div>

  </div>
</div>
