<div ng-controller="NewsController">

  <h1>{{news.title}}</h1>

  <h2>{{news.subtitle}}</h2>

  <p>{{news.author}}</p>
  <p>{{news.date}}</p>

  <div ng-if="news.mainImage" class="img-main">
    <img ng-src="{{news.mainImage}}">
  </div>

  <div ng-if="news.mainVideo" class="video-main">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/o6yS9q1Kaek" frameborder="0" allowfullscreen></iframe>
  </div>

  <div data-ng-repeat="element in news.content"
       class="news-content"
       ng-class="$index%2 === 0 ? 'content-even' : 'content-odd'">

      <p>{{element.text}}</p>
      <img ng-src="{{element.image}}">

  </div>

</div>
