<div ng-controller="NewsController" class="news-container">

  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-med-3 col-sm-1"></div>
      <div class="col-lg-8 col-med-6 col-sm-10 block-title">
        <h2>{{news.title}}</h2>
        <h3>{{news.subtitle}}</h3>
        <p>{{news.author}}</p>
        <p>{{news.date}}</p>
      </div>
      <div class="col-lg-2 col-med-3 col-sm-1"></div>
    </div>
  </div>

  <div class="container">
    <div ng-if="news.mainImage" class="img-main">
      <img ng-src="{{news.mainImage}}">
    </div>

    <div ng-if="news.mainVideo" class="video-main">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/o6yS9q1Kaek" frameborder="0" allowfullscreen></iframe>
    </div>

    <!--If the screen device is big enought, -->
    <!--we alternates the images and paragraphes display-->
    <div data-ng-repeat="element in news.content"
         class="news-content row news-for-non-xs-only">

        <!--Display for even index-->
        <div ng-if="$index%2 === 0"
        ng-class="element.image !== null ? 'col-lg-7 col-med-7 col-sm-7' : 'col-lg-12'">
          <p>{{element.text}}</p>
        </div>
        <div ng-if="$index%2 === 0 && element.image !== null" class="col-lg-5 col-med-5 col-sm-5">
          <img ng-src="{{element.image}}">
        </div>
        <!--Display for odd index-->
        <div ng-if="$index%2 === 1 && element.image !== null" class="col-lg-5 col-med-5 col-sm-5">
          <img ng-src="{{element.image}}">
        </div>
        <div ng-if="$index%2 === 1"
        ng-class="element.image !== null ? 'col-lg-7 col-med-7 col-sm-7' : 'col-lg-12'">
          <p>{{element.text}}</p>
        </div>
    </div>

    <!--If the device is too small, everything is displayed in the same order-->
    <div data-ng-repeat="element in news.content"
         class="news-content row news-for-xs-only">

         <p class="col-xs-12">
           {{element.text}}
         </p>
         <img ng-src="{{element.image}}" class="col-xs-12">
    </div>
  </div>

</div>
